body {
margin: 0;
padding: 0;
background-color: #ffffff; /* ページの背景色 */
color: #000000; /* 全体の文字色 */
font-size: 100%; /* 全体の文字サイズ */
font-family: serif;
}

/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }

/* --- コンテナ --- */
#container {
width: 96%; /* ページの幅 */
margin: 0 auto; /* センタリング */
background-color: #ffffff; /* メインカラムの背景色 */
border-left: auto; /* 左の境界線 */
border-right: auto; /* 右の境界線 */
}

/* --- ヘッダ --- */
#header {
background-color: #ffe080; /* ヘッダの背景色 */
font-family: fantasy;
}

/* --- ナビゲーション --- */
#side {
float: right;
width: 29%; /* サイドバーの幅 */
background-color: #FAFAFA;
font-family: cursive;
}

/* --- メインカラム --- */
#main {
float: left;
width: 70%; /* メインカラムの幅 */
}

/* --- フッタ --- */
#footer {
clear: both; /* フロートのクリア */
width: 100%;
background-color: #ffe080; /* フッタの背景色 */
}
